<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
        <link rel="stylesheet" href="assets/css/ionic.min.css">
        <link rel="stylesheet" href="assets/css/app.css">
        <script type="text/javascript" src="assets/js/ionic.bundle.min.js"></script>
        <script type="text/javascript" src="assets/js/ui-utils.min.js"></script>
        <script type="text/javascript" src="assets/js/ui-utils-ieshiv.min.js"></script>
        <script type="text/javascript" src="assets/js/ui-map.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
        <script type="text/javascript" src="assets/js/ng-cordova.min.js"></script>
        <script type="text/javascript" src="phonegap.js"></script>
</head>
<body>
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ng-click="go('/index')">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item" ng-click="go('/map')">
        <i class="icon ion-map"></i>
        Mapa
      </a>
      <a class="tab-item" ng-click="go('/paradas')">
        <i class="icon ion-search"></i>
        Busca
      </a>
    </div>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>
</body>
</html>
